bower_components/
node_modules/
*.map
*.src.coffee
client/build/
server/build/
client/dist/
server/dist/
client/wdb.egg-info/*
server/wdb.server.egg-info/*
junit-py*
coverage-py*
.cov-py*
.cache
.coverage
.pytest_cache
.venv
make.sh
__pycache__/
.vscode