bower_components/
node_modules/
*.map
*.src.coffee
client/build/
server/build/
client/dist/
server/dist/
junit-py*
coverage-py*
.cov-py*
.cache
.coverage
.pytest_cache
.venv
.tox
server/wdb.server.egg-info
client/wdb.egg-info
__pycache__